{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>Bulk Update Attendance - {{ today }}</h1>
<form method="post">
  {% csrf_token %}
  <table class="adminlist">
    <thead>
      <tr>
        <th>Class</th>
        <th>Total</th>
        <th>Boys</th>
        <th>Girls</th>
        <th>Other</th>
        <th>Boys Present</th>
        <th>Girls Present</th>
        <th>Other Present</th>
      </tr>
    </thead>
    <tbody>
      {% for demo in demographics_list %}
      <tr>
        <td>{{ demo.grade.get_display_name }}</td>
        <td>{{ demo.total_students }}</td>
        <td>{{ demo.boys_count }}</td>
        <td>{{ demo.girls_count }}</td>
        <td>{{ demo.other_gender_count }}</td>
        <td><input type="number" name="{{ demo.grade_id }}_boys_present" min="0" max="{{ demo.boys_count }}" required></td>
        <td><input type="number" name="{{ demo.grade_id }}_girls_present" min="0" max="{{ demo.girls_count }}" required></td>
        <td><input type="number" name="{{ demo.grade_id }}_other_present" min="0" max="{{ demo.other_gender_count }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Submit" class="default">
</form>
{% endblock %}
